body {
  padding-top:70px;
  background-color : red;
}

ul.nav li a, ul.nav li a:visited {
  color: #7BEF00 !important;
}

ul.nav li a:hover, ul.nav li a:active {
  color: #55A500 !important;
}

ul.nav li.active a {
  color: #7BEF00 !important;
}

.login_pane {
  padding-top: 100px;
  padding-left: 60px;
  padding-right: 60px;
}
