{% extends "base.html" %}
{% block content %}
  <div class="product">


    <div class="row">
     <div class="col-sm-offset-2 col-sm-9">
       <form action="/product/new" method="post" accept-charset="utf-8">
       {{ form.csrf_token }}
       <div class="form-group">
         <label class="control-label col-sm-3" for="title">Product Name:</label>
         <div class="col-sm-9">
           <div>{{ form.product_name }}</div>
         </div>
       </div><br><br>
       <div class="form-group">
         <label class="control-label col-sm-3" for="description">Product Description:</label>
         <div class="col-sm-9">
           <div>{{ form.description }}</div>
         </div>
       </div><br><br>

       <div class="form-group">
         <div class="col-sm-offset-4 col-sm-2">
           <button type="submit" class="btn btn-success">Create</button>
         </div>

       </div>
     </form>

     </div>
   </div>

    <hr>
  </div>

{% endblock %}
