{% extends "base.html" %}
{% block content %}

{% macro render_field(field) %}
<dt>{{ field.label }}
<dd>{{ field(**kwargs)|safe }}
{% if field.errors %}
  <ul class=errors>
  {% for error in field.errors %}
    <li>{{ error }}</li>
  {% endfor %}
  </ul>
{% endif %}
</dd>
{% endmacro %}

<div class="users">
  {% if message %}
    <div>{{message}}</div>
{% endif %}
  <div class="row">
   <div class="col-sm-offset-2 col-sm-9">
     <form action="/user/new" method="post" accept-charset="utf-8">
     {{ form.csrf_token }}
     <div class="form-group">
       <label class="control-label col-sm-3" for="username">{{ form.username.label }}:</label>
       <div class="col-sm-9">
         <div class="">{{ form.username }}</div>
       </div>
     </div><br><br>
     <div class="form-group">
       <label class="control-label col-sm-3" for="email">{{ form.email.label }}:</label>
       <div class="col-sm-9">
         <div>{{ form.email }}</div>
       </div>
     </div><br><br>
     <div class="form-group">
       <label class="control-label col-sm-3" for="password">{{ form.password.label }}:</label>
       <div class="col-sm-9">
         <div class="">{{ form.password }}</div>
       </div>
     </div><br><br>
     <div class="form-group">
       <label class="control-label col-sm-3" for="confirm">{{ form.confirm.label }}:</label>
       <div class="col-sm-9">
         <div>{{ form.confirm }}</div>
       </div>
     </div><br><br>
     <div class="form-group">
       <div class="col-sm-offset-4 col-sm-2">
         <button type="submit" class="btn btn-success">Create</button>
       </div>
       <div class="col-sm-6">
         <a href="/store">Already have a store</a>
       </div>
     </div>
   </form>

   </div>
 </div>

  <hr>
</div>

{% endblock %}
