{% extends "base.html" %}
{% block content %}
  <div class="container">
     <div class="jumbotron">
     <div class="row">
      <div class="col-sm-offset-2 col-sm-8">
       <h1>Store Title</h1>
       <p>Store Description</p>
      </div>
     </div>
     </div>
     <hr>
    <div class="row">
     <div class="col-sm-6">
       <ul>
          {% for user in users %}
              <li>Title: {{ user.username }}; Description: {{ user.email }}; passw: {{ user.password }} </li>
          {% endfor %}
          {{title}}
      </ul>
     </div>
     <div class="col-sm-6">
       <h1>products</h1>
       <h1>products</h1>
       <h1>products</h1>
     </div>
   </div>
    <hr>
  </div>

{% endblock %}
